* {
  padding: 0;
  margin: 4px;
  box-sizing: border-box;
}

body {
  padding: 50px;
  width: 700px;
  font-family: Arial, Helvetica, sans-serif;
}

table {
  width: 100%;
  border-collapse: collapse;
}

.myhobby {
  background-color: #99FFFF;
  padding: 8px 24px 16px;
  /* box-shadow: 2px #ccc inset; */
}

.myhobby-form {
  background-color: #fff;
  padding: 8px 8px;
}

th {
  color: #3366CC;
  font-size: 16px;
  text-align: right;
  vertical-align: text-top;
}

caption {
  background-color: #FF6633;
  color: #fff;
  padding: 8px;
  font-size: 24px;
  text-align: center;
}

td {
  color: #FF9900;
  margin-bottom: 8px;

}

td,
th {
  padding: 4px;
}



input {
  border: inset 2px #CCC;
}

input[type=checkbox] {
  /* -webkit-box-shadow: 0px 0px 0px 1px rgba(255, 0, 0, 1);
  -moz-box-shadow: 0px 0px 0px 1px rgba(255, 0, 0, 1);
  box-shadow: 0px 0px 0px 1px rgba(255, 0, 0, 1); */
  border: inset 2px #CCC;
}